.container-size {
  width: 5%;
}

.margin-16 {
  margin: 16px;
}

.padding-16 {
  padding: 16px;
}
.nav-bg-color {
  background-color: #334155;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
