.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.center {
  margin: 0 auto;
}

.justify-content-space-betweeen {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-star {
  justify-content: flex-start;
}

.justify-content-space-around {
  justify-content: space-around;
}

.gap-nav {
  gap: 30px;
}

.gap-genre {
  gap: 10px;
}

.flex-direction-row {
  flex-direction: row;
}
